.contactContainer {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #CC9544;
    position: relative;
}
 
.contact {
    width: 100%;
    height: 50%;
    background-color: #361500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.backArrowImage{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10%;
    left: 2%;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .contact{
        font-size: 13px;
    }
}